{% extends 'core/base.html' %}

{% block title %}Team{% endblock %}

{% block content %}

<section class="bg-white dark:bg-gray-900 py-24 px-4 h-screen">
    <h2 class="ml-16 mb-16 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our team</h2>
    
    <div class="flex flex-row gap-4 justify-center flex-wrap">
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center py-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/docs/images/people/profile-picture-3.jpg" alt="Profile Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Sanchit Yewale</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">21CS10056</span>
                <span class="text-sm text-gray-500 dark:text-gray-400 text-center mx-4 mt-2">Investigated the srs document format and took part in the creation of it. Helped with the choice of the webpage layouts. Worked on various HTML programs and
                    designed the webpages.</span>
            </div>
        </div>
        
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center py-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/docs/images/people/profile-picture-3.jpg" alt="Profile Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Ranjim Prabal Das</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">21CS10054</span>
                <span class="text-sm text-gray-500 dark:text-gray-400 text-center mx-4 mt-2">Worked on the backend of Django Framework. Created the login and signup forums.  Helped in making the test Suite.</span>
            </div>
        </div>
        
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center py-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/docs/images/people/profile-picture-3.jpg" alt="Profile Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Abhishek Singh Maurya</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">21CS10001</span>
                <span class="text-sm text-gray-500 dark:text-gray-400 text-center mx-4 mt-2">Worked on the frontend. Was active in the creation of various documents like making srs and ppt. Helped in designing the layout.</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}